.App {
  text-align: center;
}
  
 h1{
  background-color: black;
  color: white
}

.starships {
  width: 195px;
  height: 90px;
  background-color: rgb(23, 66, 23);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;;
}

.cards { 
  display: grid;
  grid-template-columns: repeat(4, 200px); /* 4 columns with equal width */
  grid-template-rows: repeat(2, 100px);
  gap: 20px;
  justify-content: center;
}

.starships h3,
.starships h4 {
  line-height: 0; /* Adjust the value as needed (e.g., 1.1, 1, etc.) */
}

h3 {
  color: yellow;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
