.App {
  text-align: center;
}
  
 h1{
  background-color: black;
  color: white
}

.starships {
  width: 180px;
  height: 90px;
  background-color: rgb(23, 66, 23);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards { 
  display: grid;
  grid-template-columns: repeat(4, 180px); /* 4 columns with equal width */
  grid-template-rows: repeat(2, 100px);
  gap: 10px;
  justify-content: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
